<template>
    <div class="drag-sample">
        <div>
            <draggable v-model="members"
                       class="issue-members"
                       group="members"
                       tag="ul"
                       @end="onEvtCallback"
                       :data-issue-members="0"
            >
                <drag-member v-for="member in members" :key="member.id" :item="member"/>
            </draggable>
        </div>
        <div class="board-wrap row">
            <div v-for="group in groups" :key="group.id" class="group-wrap col-2">
                <div class="text-center">{{group.name}}</div>
                <draggable v-model="issues[group.id]"
                           draggable=".drag-issue-item"
                           group="issues"
                           tag="ul"
                           class="issue-group"
                           @end="onEvtCallback"
                           :data-group-id="group.id"
                >
                    <drag-issue v-for="issue in issues[group.id]" :key="issue.id" :item="issue"/>
                </draggable>
            </div>
        </div>
    </div>
</template>

<script>
import draggable from 'vuedraggable'
import DragMember from './drag-member.vue'
import DragIssue from "./drag-issue";

export default {
    components: {
        draggable,
        DragIssue,
        DragMember
    },
    name: 'DragSample',
    data() {
        return {
            groups: [
                {id: 1, name: 'Ready'},
                {id: 2, name: 'Analise'},
                {id: 3, name: 'Dev'},
                {id: 4, name: 'QA'},
                {id: 5, name: 'Done'},
            ],
            issues: {
                1: [
                    {id: 2, name: 'WMS-2', members: []},
                    {id: 4, name: 'WMS-4', members: ['marina.tsymbal']},
                ],
                2: [
                    {id: 1, name: 'WMS-1', members: []},
                    {id: 3, name: 'WMS-3', members: []},
                ],
                3: [],
                4: [
                    {id: 3, name: 'WMS-5', members: ['vladimir.gorobets', 'vitaliy.balaev']},
                ],
                5: []
            },
            members: [
                'alex.klimenko',
                'alexander.soloviov',
                'marina.tsymbal',
                'sergey.dartchuk',
                'vadim.krzhevitsky',
                'victor.novitskyi',
                'vitaliy.balaev',
                'vitaliy.khamitov',
                'vladimir.gorobets',
                'vyacheslav.slobodianiuk',
            ],
        }
    },
    methods: {
        onEvtCallback: function (evt) {
            let issueId = evt.item.dataset.issueId;
            let from = evt.from.dataset.groupId;
            let to = evt.to.dataset.groupId;
            console.log(`issue ${issueId} from ${from} to ${to}`)
        }
    },
    computed: {}
}
</script>

<style>
.board-wrap {
}

.drag-member {
    display: inline-block;
}

ul.issue-group {
    margin: 0;
    padding: 0;
    min-height: 200px;
}

ul.issue-group>li .issue-header {
    padding: 0 1rem;
    font-weight: bold;
}

ul.issue-group>li {
    list-style: none;
    border: 1px solid #999;
    padding: 1rem 0;
    margin: 1rem 0;
}

ul.issue-group>li .issue-members {
    margin-top: 1rem;
    padding: .2rem .5rem;
    background-color: #ddeefb;
    min-height: 60px;
}

ul.issue-group>li .drag-member {
    margin: 0;
}

ul.issue-group>li .drag-member > img {
}
</style>
