<template>
    <li class="drag-member" :data-member-id="item">
        <img :src="imgSrc(item)" class="img-thumbnail rounded-circle img-small" :title="item">
    </li>
</template>

<script>
export default {
    name: "drag-member",
    props: {
        item: String
    },
    methods: {
        imgSrc: function (u) {
            return 'https://jira.wildix.com/secure/useravatar?ownerId=' + u;
        },
    }
}
</script>

<style scoped>

</style>