<template>
    <li class="drag-issue-item" :data-issue-id="item.id">
        <div class="issue-header">{{item.name}}</div>
        <div class="info"></div>
        <draggable v-model="item.members"
                   class="issue-members"
                   group="members"
                   tag="ul"
                   @end="onEvtCallback"
                   :data-issue-members-id="item.id"
        >
            <drag-member v-for="member in item.members" :key="member.id" :item="member"/>
        </draggable>
    </li>
</template>

<script>
import draggable from 'vuedraggable'
import DragMember from './drag-member.vue'

export default {
    name: "drag-issue",
    components: {
        DragMember,
        draggable
    },
    props: {
        item: Object
    },
    methods: {
        onEvtCallback: function (evt) {
            let memberId = evt.item.dataset.memberId;
            let from = evt.from.dataset.issueMembersId;
            let to = evt.to.dataset.issueMembersId;
            console.log(`member ${memberId} from ${from} to ${to}`)
        }
    },

}
</script>

<style scoped>

</style>