<template>
    <div id="app">
        <div class="container-fluid">
            <DragSample/>
        </div>
    </div>
</template>

<script>
import DragSample from './components/DragSample.vue'

export default {
    name: 'App',
    components: {
        DragSample
    }
}
</script>

<style>
#app {
}
</style>
